.SmsInbox {
  color: #035959;
  border: 1px solid #9fc4f9;
  border-radius: 10px;
  overflow: hidden;
  width: 35%;
}

.SmsInbox .Header {
  background-color: #e6f9c2;
  border-bottom: 1px solid #9fc4f9;
  padding: 8px 2%;
}

.SmsInbox .Body {
  padding-top: 15px;
  padding-right: 2%;
  padding-bottom: 8px;
  padding-left: 2%;
}

.SmsInbox .Message {
  cursor: pointer;
  overflow: auto;
}

.SmsInbox .Message:not(:last-child) {
  border-bottom: 1px solid #9fc4f9;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.SmsInbox .Avatar {
  background-image: url('sms-alert.ico');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 70px;
  height: 79px;
  float: left;
}

.SmsInbox .Bold {
  font-weight: bold;
}

.SmsInbox .Content {
  float: left;
}